* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkcyan;
}

.container {
    background-color: lightgreen;
    width: 500px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
}

.heading {
    font-size: 25px;
}


.tempDiv {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}


.tempInput {
    width: 70%;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: darkgoldenrod;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .tempDiv {
        flex-direction: column;
        align-items: flex-start;
    }

    .tempInput {
        width: 100%;
    }

    .container {
        margin: 20px;
    }
  }